#**Guided Lab 343.3.13 - Select Columns and Rows of a Pandas DataFrame using Square notation []**

---

##**Lab Objective:**
In this lab, you will demonstrate, how to access or select columns and Rows from Panda Datafram by using square braket [ ]. This lab dives into the core Pandas skills of selecting and filtering data within DataFrames. You'll learn how to pinpoint specific columns and rows using a variety of techniques, empowering you to extract the data you need for analysis.

**Key takeaways:**

- Select data by column name or index.
- Filter rows based on conditions and string patterns.
- Utilize the `.isin()` method for targeted filtering.
- Apply the `.str` attribute for string-based operations.

##**Learning Objective:**

By the end this lab, learners will be able t:
- Select any specified column/columns and Row/Rows from Pandas Dataframe.
- Filter rows using conditions.
- Utilize specialized functions like .isin() for precise filtering, like selecting data for specific years or categories.

##**Introduction:**
**Selecting columns by using column attribute**

- To select a single column, use square brackets [ ] with the column name of the column of interest.

- To select multiple columns, use a list of column names within the selection brackets [ ].

 -- Important Note:  The inner square brackets define a Python list with column names, whereas the outer brackets are used to select the data from a pandas DataFrame.

Syntax:

```
# select column to Series
s = df['colName']

# select column to dataframe
df = df[['colName']]

# select two or more columns
df = df[['ColOne','colTwo']]  

# select single column by column index number
s = df[df.columns[0]]  

# select multiple columns by column index numbers
df = df.columns[[0, 3, 4]]
```



---

## **Dataset**

In this lab, we will use [cars.json](https://drive.google.com/file/d/1CXAK8gbuLtc2NNOXVUgmja8fDg0TrNZm/view) dataset, Let import cars dataset in Panda dataframe.

In [ ]:
import pandas as pd
df_cars = pd.read_json('cars.json')
df_cars

#**How do I select specific columns from a DataFrame?**

![How-do-I-select-a-subset-of-a-DataFrame-â€”-pandas-1-0-5-documentation (1).png]()

##**Example - Select One Column:**

Suppose we are interested in the Name of the cars.

In [ ]:
df_cars['Car']

In [ ]:
df_cars['Car'].head(60)



---

##**Example: Select multiple Columns**

Suppose, we are interested in the cars name, Model of the cars, and quantity

In [ ]:
df_cars[['Car','Model', 'quantity']]

##**Example: Select single column by column index number**

In [ ]:
df_cars[df_cars.columns[0]]

##**Example: Select Multiple columns by column index number**

In [ ]:
df_cars[df_cars.columns[[0,1,9]]]



---

#**How do I filter specific rows from a DataFrame?**

![How-do-I-select-a-subset-of-a-DataFrame-â€”-pandas-1-0-5-documentation.png]()

- Pandas lets you filter data by conditions over row/column values.
- We can create very powerful and sophisticated expressions by combining logical operations and comparison operators.

### **For example,the below code selects the row where MPG is exactly 17.6**

In [ ]:
df_cars[df_cars.MPG == 17.6]

# **Alternatively: We can use .eq() function**

In [ ]:
df_cars[df_cars['MPG'].eq(17.6)]

###**Example: Get only those cars whose quantity is greater than 350.**

- We can use a > operator to draw comparisons.
- If you wanted to fill an entire row based off of the condition of a single Pandas Series. You can also pass a series as the conditional.

In [ ]:
df_cars['quantity']<350

In [ ]:
getQuantity = df_cars[df_cars["quantity"] > 350]
print(getQuantity)

###**Get only those cars whose quantity is greater than 350 years and cylinders are less than 4.**

In [ ]:


GetData = df_cars[(df_cars['quantity'] >= 350) & (df_cars['Cylinders'] > 4)]

print(GetData)

## **Example: Get all Cars for city 'New York' and 'TEXAS'.**

In [ ]:
df_cars[((df_cars['city'] == 'TEXAS') | (df_cars['city'] == 'NewYork'))]

## **Alternate: It is better to use `pandas.DataFrame.isin()` function, it is easier to read.**

In [ ]:
df_cars[df_cars['city'].isin(['TEXAS','NewYork'])]

- We can use series for boolean verfication, as shown below

In [ ]:
df_cars['city'].isin(["San TEXAS", "NewYork"])

# **By using `.str` attribute, we can enable string functions and can apply on pandas dataframe.**

## **Example: Get Cars that have a Name that starts with M**

In [ ]:
df_cars[df_cars['Car'].str.startswith('M')]

## **Example: Get Cars that have a Name that ends with m**

In [ ]:
df_cars[df_cars['Car'].str.endswith('m')]

## **Example: Filter rows having string length greater than 20.**



**The len( ) function calculates length of iterable.**

In [ ]:
df_cars[df_cars['Car'].str.len()>20]

In [ ]:
import numpy as np
import pandas as pd

# Initializing the nested list with Data set
employee_list = [['James', 36, 75, 5428000],
               ['Villers', 38, 74, 3428000],
               ['VKole', 31, 70, 8428000],
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Adam', 40, np.nan, 4528000],
               ['Rooter', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000],
               ['lynda', 42, 85, np.nan],
               [np.nan, 42, 85, np.nan],
               ['Jenny', np.nan, 100, 25632],
               ['Kenn', np.nan, 110, 25632],
                ['Aly', np.nan, 90, 25582],
               ['John', 41, 85, 1528000]]

# creating a pandas dataframe
df = pd.DataFrame(employee_list, columns=['Name', 'Age', 'Weight', 'Salary'])

print(df)

print('---- after dropping or cleaning the missing data ---')
df = df.dropna()
df

In [ ]:
drop_na_cols_strategy = df.dropna(axis=1)
drop_na_cols_strategy

##**Submission**
- Submit your completed lab using the Start Assignment button on the assignment page in Canvas.
- Your submission can be include:
  - if you are using notebook then, all tasks should be written and submitted in a single notebook file, for example: (**your_name_labname.ipynb**).
  - if you are using python script file, all tasks should be written and submitted in a single python script file for example: **(your_name_labname.py)**.
- Add appropriate comments and any additional instructions if required.